@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap");

:root {
  --primary: rgb(0, 29, 61);
  --primary-two: rgba(0, 53, 102, 1);
  --secondary: #e09f3e;
}

* {
  font-family: "Edu TAS Beginner", cursive;
  color: var(--secondary);
}

body {
  width: 70%;
  margin: auto;
  text-align: center;
  background: var(--primary);
  background: linear-gradient(90deg, var(--primary) 6%, var(--primary-two) 68%);
}

body p {
  width: 50%;
  margin: 20px auto;
}

#guessField {
  max-width: 30px;
}

.information {
  font-weight: 600;
}

#errorMessage {
  font-weight: 600;
  color: crimson;
}

#guessField {
  color: var(--primary);
}

#guessSubmit,
#newGame {
  border: none;
  background: var(--secondary);
  color: var(--primary);
  padding: 3px;
  border-radius: 5px;
  transition: all 500ms ease-out;
}

#newGame:hover {
  padding: 8px;
  background: white;
}
